[submodule "repositories/clawx"]
	path = repositories/clawx
	url = https://github.com/attilaczudor/ClawX

[submodule "repositories/ironclaw"]
	path = repositories/ironclaw
	url = https://github.com/attilaczudor/ironclaw

[submodule "repositories/llama.cpp"]
	path = repositories/llama.cpp
	url = https://github.com/attilaczudor/llama.cpp
